.main_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.main_icon {
    width: 65px;
    height: 65px;
}

.main_startResult {
    width: 210px;
    margin-top: 50px;

    font-size: 22px;
    color: #808080;
    text-align: center;
    font-family: 'Inter', sans-serif;
    line-height: 140%;

}