.header {
    width: 100%;
    padding: 16px 0px 16px 41px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background: #0064EB;
}

.logoIcon {
    margin-right: 22px;
}



@media  (max-width: 400px) {

  .header {
      padding: 16px 0px 16px 15px;
  }

    .logoIcon {
        margin-right: 10px;
    }
}