.UserProfile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;

  width: 100%;
  padding: 28px 56px;
}

.gray {
  background: #f7f7f7;;
}

@media (max-width: 1010px) {
  .UserProfile {
    padding: 28px 40px;
  }
}

@media (max-width: 750px) {
  .UserProfile {
    padding: 20px 30px;
  }
}

@media (max-width: 500px) {
  .UserProfile {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}







