@font-face {
    font-family: "Inter";
    src: url("./../../fonts/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}


.searchBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    color: #808080;
}

.input {
    width: 500px;
    padding: 8px 200px 8px 44px;

    border: none;
    outline: none;
    border-radius: 6px;

    color: #000;
    font-size: 14px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.01em;
}
.input:hover {
    cursor: pointer;
}

.iconSearch {
    width: 14px;
    height: 14px;

    position: absolute;
    left: 20px
}

@media  (max-width: 1010px) {

    .input {
        width: 350px;
        padding-right: 50px;
    }
}

@media  (max-width: 750px) {

    .input {
        width: 260px;
        padding-right: 25px;
    }
}

@media  (max-width: 360px) {

    .input {
        width: 220px;
        padding-right: 10px;
        padding-left: 30px;
    }

    .iconSearch {
        left: 10px
    }
}